RewriteEngine On
RewriteBase /

# Si la URL está vacía, redirigir a la carpeta public/
RewriteRule ^$ public/ [L]

# Si el archivo o directorio no existe, reescribe la URL para que apunte a public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]