RewriteEngine On
RewriteBase /

# No redirigir archivos estáticos (CSS, JS, imágenes, fuentes, etc.)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirige todas las demás solicitudes a index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]